<!--The content below is only a placeholder and can be replaced.-->

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="container col-md-12">
  <nav class="navbar navbar-fixed-top Rectangle-2">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2 class=" Front-End-Test">| Front-End Test</h2>
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid" style="margin-top:80px">
    <table class="table">
      <tbody>
        <tr *ngFor='let pessoa of pessoas' class="Rectangle-2-Copy">
          <td class="align-middle">
            <img class="Oval border rounded-circle pull-right" src="{{pessoa.img}}" alt="">
          </td>
          <td class="align-middle">
            <p class="name">{{pessoa.name}}</p>
            <span class="name-copy-2">id: {{pessoa.id}}</span>
            <span class="name-copy">{{pessoa.username}}</span>
          </td>
          <td class="align-middle">
              <span class="badge badge-secondary Combined-Shape">$</span>
            <p class="name-copy-3 hidden-xs">Pagar </p>
            <p class="name-copy-3"> ></p>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Novo Cartão</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <label for="modalNome">Nome</label>
          <input type="text" class="form-control" id="modalNome" disabled>
        </div>
        <div class="col-md-12">
          <label for="modalNumero">Número</label>
          <input type="number" class="form-control" id="modalNumero">
        </div>
        <div class="col-md-8 col-sm-12">
          <label for="modalValidade">Data de Validade</label>
          <input type="date" class="form-control" id="modalValidade">
        </div>
        <div class="col-md-4 col-sm-12">
          <label for="modalCVV">CVV</label>
          <input type="number" class="form-control" id="modalCVV">
          <small id="emailHelp" class="form-text text-muted">Verso do Cartão</small>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Fechar</button>
    <button type="button" class="btn btn-success">Adicionar Cartão</button>
  </div>
</ng-template>